<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <form action="/" method="post">
        <label for="Temperature">Temperature:</label><br>
        <input type="number" id="Temperature" name="Temperature" required><br>
        <label for="RH">RH:</label><br>
        <input type="number" id="RH" name="RH" required><br>
        <label for="Ws">Ws:</label><br>
        <input type="number" id="Ws" name="Ws" required><br>
        <label for="Rain">Rain:</label><br>
        <input type="number" id="Rain" name="Rain" required><br>
        <label for="FFMC">FFMC:</label><br>
        <input type="number" id="FFMC" name="FFMC" required><br>
        <label for="DMC">DMC:</label><br>
        <input type="number" id="DMC" name="DMC" required><br>
        <label for="ISI">ISI:</label><br>
        <input type="number" id="ISI" name="ISI" required><br>
        <label for="Classes">Classes:</label><br>
        <input type="number" id="Classes" name="Classes" required><br>
        <label for="Region">Region:</label><br>
        <input type="number" id="Region" name="Region" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>